.gambar{
width: 350px;
   height: 350px;
   border-radius: 50%;
   	margin-top: 5px;
}
.bg {
    background-image: url("bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
